.permanent-marker {
    font-family: "Permanent Marker", cursive;
}

.teko {
    font-family: "Teko", sans-serif;
}

.squada-one {
    font-family: "Squada One", sans-serif;
}

.rajdhani {
    font-family: "Rajdhani", sans-serif;
}

.primary-color {
    color: #5856D6;
}

.secondary-color {
    color: #151515;
}